{% extends "base.html" %}

{% block title %}Мои задачи{% endblock %}

{% block content %}
<h2>Мои задачи</h2>

<ul class="list-group">
    {% for task in tasks %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ task.title }}</strong><br>
                <small class="text-muted">{{ task.created_at|date:"d.m.Y H:i" }}</small>
                <a href="{% url 'task_edit' task.pk %}" class="btn btn-sm btn-outline-primary">✏️</a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-sm btn-outline-danger">🗑️</a>

            </div>

            <span class="badge bg-secondary">{{ task.get_status_display }}</span>
        </li>
    {% empty %}
        <li class="list-group-item">У вас пока нет задач.</li>
    {% endfor %}
</ul>
{% endblock %}
